# Ignora a pasta do ambiente virtual (venv)
venv/

# Ignora pastas de cache do Python
__pycache__/
*.pyc
.pytest_cache/

# Ignora arquivos temporários gerados pelo FastAPI
*.mp3
*.wav
*.m4a
*.tmp

# Ignora a pasta do Git e o .dockerignore
.git/
.gitignore
.dockerignore